<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-4 text-center">Modifier le van</h1>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 text-center">
  <%= link_to "Back to the van", van_path(@van), class: "btn btn-outline-secondary"  %>
</div>

