<div class="van-edit-hero d-flex flex-column justify-content-center align-items-center">
  <%= render "form" %>

  <div class="text-center mt-4">
    <%= link_to "â† Back to this van", van_path(@van), class: "btn btn-secondary-cta" %>
  </div>
</div>
