
<div class="van-edit-form py-5 row justify-content-center col-md-8">
  <%= render "form" %>

  <div class="row mt-4">
    <div class="col text-center">
      <%= link_to "Back to the van", van_path(@van), class: "btn btn-secondary-cta" %>
    </div>
  </div>
</div>
