<h1>Please have a look at all the vans available</h1>

<ul>
  <% @vans.each do |van| %>
    <li><%= link_to van.title, van_path(van) %>

    <%= link_to "Delete?", van_path(van), method: :delete, data: { confirm: "Are you sure you want to delete this van ?" } %>
</li>
  <% end %>
</ul>

<%= link_to "Back to Home page", root_path %>
