<h1>Please have a look at all the vans available</h1>

<ul>
  <% @vans.each do |van| %>
    <li><%= link_to van.title, van_path(van) %></li>
  <% end %>
</ul>

<%= link_to "Back to Home page", root_path %>
