<div class="form-section">
  <%= render "form" %>
</div>

<div class="homepage-button mt-5 text-center mb-5">
  <div class="container mt-5 text-center">
    <%= link_to "Back to Home page", root_path, class: "btn-primary-cta" %>
  </div>
</div>
