<div class="van-form-hero d-flex justify-content-center align-items-center form-request-bg">
  <div class="form-card">
    <h1 class="mb-4 text-center fw-bold text-dark">Request for "<%= @van.title %>"</h1>
    <%= render "form" %>
  </div>
</div>
