<h1>Requent sent successfully!</h1>
<p>Thank you for your reservation. The owner of the <%= @van&.model %> will contact you shortly with details.</p>
<%= link_to "Back to Vans", vans_path, class: "btn btn-primary mt-3" %>
