:root {
  --orange: #e98800;
  --gray: rgba(231, 231, 231, 0.38);
  --blue: #0d6efd;
}

.btn-primary-cta {
  background-color: var(--orange);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background 0.3s ease;
  text-decoration: none;

  &:hover {
    background-color: darken(#e98800, 10%);
  }
}

.btn-secondary-cta {
  background-color: var(--gray);
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background 0.3s ease;

  &:hover {
    background-color: rgba(200, 200, 200, 0.6);
  }
}

.btn-delete {
  background-color: transparent;
  color: rgba(200, 200, 200, 0.6);
  border: 2px solid rgba(200, 200, 200, 0.6);
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    background-color: #FD1115;
    color: white;
  }
}

.btn-cta-blue {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background 0.3s ease;

  &:hover {
    background-color: darken(#3515b6, 10%);
    color: white;
  }
}
