.text-orange {
  color: #cc7700;
}

.reservation-card {
  border: 2px solid #e2c49a;
  background-color: #fff8ed;
  border-radius: 1rem;
  padding: 1rem;

  .card-title {
    font-weight: 600;
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 1rem;
    color: #555;
  }

  i {
    vertical-align: middle;
  }
}
