.van-edit-hero {
  background-image: image-url("van_life_3.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
  height: 91vh;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
}
